# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Theoretical Computer Science Swansea University
email: cs-theory@swansea.ac.uk
description: >- # this means to ignore newlines until "baseurl:"
  Swansea University Theoretical Computer Science Research Group is internationally renowned for its research in Logic in Computer Science. The active research areas are: Computability Theory, Computational Complexity, Proof Theory, Type Theory, Game Theory, Algorithms, Formal Methods (Automated and Interactive Theorem Proving), Cyber Security, Blockchain Technology, Verification of Railway Control Systems, Artificial Intelligence (Satisfiability Solving, Multi-agent Systems, Argumentation Theory, Trustable Machine Learning, AI and Law).
baseurl: "" # the subpath of your site, e.g. /blog
url: "swansea-theory.github.io" # the base hostname & protocol for your site, e.g. http://example.com
# twitter_username: jekyllrb
# github_username:  jekyll

sass:
  quiet_deps: true
  silence_deprecations: [import]


# paginate: 5
# paginate_path: "/blog/page:num/"

# Build settings
theme: minima

header_pages:
  - people.md
  - events.md
  - blog/index.html

plugins:
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-paginate

assets:
  dirname: conferences
  baseurl: conferences/
  sources:
    - conferences

banner:
  description: >-
    <h1>Upcoming conferences!</h1>We have two upcoming conferences hosted at Swansea University that you may be interested in:<ul><a href="https://sites.google.com/view/swanseaworldlogicday2026/"><li>World Logic Day, 14th January, 2026;</li></a><a href="https://logiccolloquium2026.github.io/"><li>and the 2026 Logic Colloqiuim, 29th June - 3rd July 2026.</li></a></ul> Click on the above links to register and find out more!
  offTime: 5


# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
